@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Dancing+Script:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

/* ---- reset ---- */
body {
    margin: 0;
}
canvas {
    display: block;
    vertical-align: bottom;
} /* ---- particles.js container ---- */
#particles-js {
    position: absolute;
    width: 100%;
    height: 2000px;
    background-color: #000000;
} /* ---- stats.js ---- */
.count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #ff0000;
    font-size: 0.8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}
.js-count-particles {
    font-size: 1.1em;
}
#stats,
.count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}
#stats {
    display: none;

    border-radius: 3px 3px 0 0;
    overflow: hidden;
}
.count-particles {
    border-radius: 0 0 3px 3px;
    display: none;
}

.oul {
    border: 2px solid #00afea;
    width: 70%;
    height: 500px;
    border-radius: 10px;
    margin: auto;
    /* background-color: rgba(0, 0, 0, 0.6); */
    transition: 0.3s;
}

.oul:hover {
    border: 2px solid #f530f5;
    transition: 0.3s;
}

/* .bd {
    background-color: black;
} */

.x-zoom {
    animation: animatezoom 0.6s;
}

@keyframes animatezoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.cee {
    margin-top: -2%;
    min-height: 100vh;
    margin-left: 10%;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: "Josefin Sans", sans-serif;
}

.dee {
    margin-top: -25%;
    min-height: 100vh;
    margin-left: 10%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Josefin Sans", sans-serif;
}

.x-all {
    position: relative;
    width: 85%;
    margin-top: -4%;
    margin-left: 4%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 34px;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(110, 110, 110, 0.678);
}

.d-all {
    position: relative;
    width: 85%;
    margin-top: 3%;
    margin-left: 4%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 34px;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(110, 110, 110, 0.678);
}
.xt-bx {
    display: flex;
    justify-content: space-between;
}

.d-xti {
    border: 5px ridge silver;
    border-radius: 50%;
    height: fit-content;
}
.boxes1 {
    width: 24%;
    background: #69c6e6;
    height: 130px;
    border-radius: 8px;
    font-family: "Josefin Sans", sans-serif;
}

.d-mi1 {
    background: linear-gradient(#17abdd, rgb(173, 173, 173));
    margin-top: 9px;
    padding: 5px;
    height: 23px;
    border-radius: 8px;
}

.mi1 {
    text-align: center;
    font-size: 13px;
    font-weight: 600;
}
.b1 {
    padding: 10px;
}

.b1 h2 {
    font-size: 26px;
    font-weight: 800;
    font-family: "Josefin Sans", sans-serif;
}

.b1 p {
    font-size: 23px;
    font-weight: 700;
    font-family: "Josefin Sans", sans-serif;
}
.boxes2 {
    width: 24%;
    background: #ec6ec2;
    height: 130px;
    border-radius: 8px;
}

.d-mi2 {
    background: linear-gradient(#e72ba8, rgb(172, 169, 169));
    height: 23px;
    padding: 5px;

    margin-top: 9px;
    border-radius: 8px;
}

.mi2 {
    text-align: center;
    font-size: 13px;
    font-weight: 600;
}
.b2 {
    padding: 10px;
}

.b2 h2 {
    font-size: 26px;
    font-weight: 800;
    font-family: "Josefin Sans", sans-serif;
}

.b2 p {
    font-size: 23px;
    font-weight: 700;
    font-family: "Josefin Sans", sans-serif;
}

.boxes3 {
    width: 24%;
    background: #e2765b;
    height: 130px;
    border-radius: 8px;
}

.d-mi3 {
    background: linear-gradient(#df3b12, rgb(172, 169, 169));
    height: 23px;
    padding: 5px;
    margin-top: 11px;
    border-radius: 8px;
}

.mi3 {
    text-align: center;
    font-size: 13px;
    font-weight: 600;
}
.b3 {
    padding: 10px;
}

.b3 h2 {
    font-size: 26px;
    font-weight: 800;
    font-family: "Josefin Sans", sans-serif;
}

.b3 p {
    font-size: 20px;
    font-weight: 700;
    font-family: "Josefin Sans", sans-serif;
}

.boxes4 {
    width: 24%;
    background: rgb(99, 98, 99);
    height: 130px;
    border-radius: 8px;
}

.d-mi4 {
    background: linear-gradient(rgb(99, 98, 99), rgb(172, 169, 169));
    height: 23px;
    padding: 5px;
    margin-top: 11px;
    border-radius: 8px;
}

.mi4 {
    text-align: center;
    font-size: 13px;
    font-weight: 600;
}
.b4 {
    padding: 10px;
}

.b4 h2 {
    font-size: 26px;
    font-weight: 800;
    font-family: "Josefin Sans", sans-serif;
}

.b4 p {
    font-size: 20px;
    font-weight: 700;
    font-family: "Josefin Sans", sans-serif;
}
.xt-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.fn {
    display: flex;
    justify-content: space-between;
    width: 47%;
    margin-top: 4%;
    padding: 15px;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 5px 10px rgba(110, 110, 110, 0.678);
}

.i-fn h5 {
    font-size: 18px;
    font-family: "Josefin Sans", sans-serif;
}

.i-fn p {
    font-size: 19px;
    font-family: "Josefin Sans", sans-serif;
}

.p-fn {
    margin-top: 7%;
}

.p-fn p {
    font-size: 20px;
    font-weight: 600;
    font-family: "Josefin Sans", sans-serif;
}

.tp-nd {
    margin-left: 4%;
}

.tp-nd p {
    font-size: 19px;
    font-family: "Josefin Sans", sans-serif;
}

.tp-nd h5 {
    margin-bottom: 6%;
    font-family: "Josefin Sans", sans-serif;
}

.tp-nd h3 {
    font-family: "Josefin Sans", sans-serif;
}

.x-tp {
    display: flex;
}
.x-wrp h2 {
    position: relative;
    font-size: 22px;
    font-weight: 600;
    color: white;
}
.x-wrp h2::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 28px;
    border-radius: 12px;
    background: #00afea;
}
.x-wrp form {
    margin-top: 30px;
}
.x-wrp form .input-box {
    height: 52px;
    margin: 18px 0;
}

form .input-box input {
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-weight: 400;
    border: none;
    border-bottom-width: 2.5px;
    border-radius: 4px;
    background: transparent;
    transition: all 0.3s ease;
}
.input-box input:focus,
.input-box input:valid {
    border-color: none;
}
form .policy {
    display: flex;
    align-items: center;
}
form h3 {
    color: #707070;
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
}

.gs-ib {
    height: 100%;
    display: flex;
    width: 100%;
    font-size: 17px;
    font-weight: 400;
    color: #333;
    border: 1.5px solid #c7bebe;
    border-color: #00afea;
    background: white;
    border-bottom-width: 2.5px;
    border-radius: 6px;
    transition: all 0.3s ease;
}

/* .d-se {
    display: none;
} */
.se-btn {
    color: #fff;
    letter-spacing: 1px;
    border: none;
    background: #00afea;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    padding: 10px 0px;
}
.se-btn:hover {
    background: #0157f7;
}

.se-btn3 {
    color: black;
    letter-spacing: 0.5px;
    border: none;
    background: none;
    margin-top: 1.5%;
    padding: 8px;
    cursor: pointer;
    width: 35%;
    text-align: center;
    border-radius: 3px;
    height: 30px;
    font-size: 13px;
}
.se-btn3:hover {
    background: #00afea;
    border-radius: 3px;
}

.se-btn2 {
    color: #fff;
    letter-spacing: 1px;
    border: none;
    background: #00afea;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    padding: 10px 0px;
}
.se-btn2:hover {
    background: #0157f7;
}
form .text h3 {
    color: #333;
    width: 100%;
    text-align: center;
}
form .text h3 .a {
    color: #00afea;
    text-decoration: none;
}
form .text h3 .a:hover {
    text-decoration: underline;
    color: #00afea;
}

.error {
    color: red;
    font-size: 12px;
}

@media (max-width: 426px) {
    .x-all {
        position: relative;
        width: 100%;
        background: rgba(0, 0, 0, 0.8);
        color: white;
        padding: 34px;
        border-radius: 6px;
        margin-top: -80%;
        margin-left: 20%;

        box-shadow: 0 5px 10px rgba(110, 110, 110, 0.678);
    }

    #particles-js {
        position: absolute;
        width: 100%;
        height: 90%;
        background-color: #000000;
    }
}
