/* ---- reset ---- */
body {
    margin: 0;
    font: normal 75% Arial, Helvetica, sans-serif;
}
canvas {
    display: block;
    vertical-align: bottom;
} /* ---- particles.js container ---- */
#particles-js {
    position: absolute;
    width: 100%;
    height: fit-content;
    background-color: #000000;
} /* ---- stats.js ---- */
.count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #ff0000;
    font-size: 0.8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}
.js-count-particles {
    font-size: 1.1em;
}
#stats,
.count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}
#stats {
    display: none;

    border-radius: 3px 3px 0 0;
    overflow: hidden;
}
.count-particles {
    border-radius: 0 0 3px 3px;
    display: none;
}

@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Dancing+Script:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

.oul {
    border: 2px solid #00afea;
    width: 70%;
    height: 500px;
    border-radius: 10px;
    margin: auto;
    /* background-color: rgba(0, 0, 0, 0.6); */
    transition: 0.3s;
}

.oul:hover {
    border: 2px solid #f530f5;
    transition: 0.3s;
}

.x-zoom {
    animation: animatezoom 0.6s;
}

@keyframes animatezoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.wr-hd {
    color: white;
}
.cee {
    margin-top: -2%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Josefin Sans", sans-serif;
}
.x-wrp {
    position: relative;
    width: 54%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 34px;
    margin-top: 10%;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(110, 110, 110, 0.678);
}
.x-wrp h2 {
    position: relative;
    font-size: 22px;
    font-weight: 600;
    color: white;
    text-align: center;
}
/* .x-wrp h2::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 28px;
    border-radius: 12px;
    background: #00afea;
} */
.x-wrp form {
    margin-top: 30px;
}
.x-wrp form .input-box {
    height: 52px;
    margin: 18px 0;
}

form .input-box input {
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-weight: 400;
    color: #333;
    border: 1.5px solid #c7bebe;
    border-bottom-width: 2.5px;
    border-radius: 6px;
    transition: all 0.3s ease;
}
.input-box input:focus,
.input-box input:valid {
    border-color: #00afea;
}
form .policy {
    display: flex;
    align-items: center;
}
form h3 {
    color: #707070;
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
}
.input-box.button input {
    color: #fff;
    letter-spacing: 1px;
    border: none;
    background: #00afea;
    cursor: pointer;
}
.input-box.button input:hover {
    background: #0157f7;
}
form .text h3 {
    color: #333;
    width: 100%;
    text-align: center;
}
form .text h3 .a {
    color: #00afea;
    text-decoration: none;
}
form .text h3 .a:hover {
    text-decoration: underline;
    color: #00afea;
}

.error {
    color: red;
    font-size: 12px;
}

.top-d {
    display: flex;
}

.fn-inp {
    width: 130%;
}

.ln-inp {
    margin-left: 80%;
    width: 130%;
}

@media (max-width: 426px) {
    .x-wrp {
        position: relative;
        width: 100%;
        background: rgba(0, 0, 0, 0.8);
        color: white;
        padding: 34px;
        border-radius: 6px;
        box-shadow: 0 5px 10px rgba(110, 110, 110, 0.678);
    }

    .top-d {
        display: block;
    }
    .fn-inp {
        width: 80%;
    }

    .ln-inp {
        margin-left: 0%;
        width: 80%;
    }

    #particles-js {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #000000;
    }
}
