@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Dancing+Script:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

.n-m {
    font-family: "Josefin Sans", sans-serif;
    background: white;
    box-shadow: 1px 1px 1px 1px #000000;
    transition: 0.4s;
    height: 70px;
}

.active {
    color: #ea00ff;
}

.v-img {
    width: 60%;
}

.vh {
    font-size: 29px;
    color: black;
    font-weight: 700;

    transition: 0.4s;
}

.vh:hover {
    color: #ea00ff;

    transition: 0.4s;
}

.n-m:hover {
    box-shadow: 1px 1px 1px 1px rgb(0, 0, 0);
    transition: 0.4s;
}
.nb {
    width: 100%;
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
    transition: 0.5s ease all;
    padding-bottom: 4px;
    border-bottom: 1px solid transparent;
    margin-right: 6%;
    letter-spacing: 0.5px;
}

.lg {
    margin-left: 6%;
}

.n-img {
    width: 50px;
}

.en {
    margin-right: 6%;
}

.nb:hover {
    color: #00afea !important;
    border-color: #00afea;
}

.ff {
    cursor: pointer;
    font-size: 24px;
    transition: 0.8s ease all;
    color: white;
    outline: none;
    border: none;
    background-color: transparent;
}

.ff:active {
    transform: rotate(180deg);
    transform: 0.8s;
    color: #ea00ff;
}

.ff:hover {
    transform: rotate(180deg);
    transform: 0.8s;
    color: #ea00ff;
}

@media (max-width: 991px) {
    .nb {
        width: 100%;
    }

    .lg {
        margin-left: 0%;
    }

    .en {
        margin-right: 0%;
    }

    .n-m {
        font-family: "Josefin Sans", sans-serif;
        background: white;
        box-shadow: 1px 1px 1px 1px #000000;
        transition: 0.4s;
        height: 1100%;
    }
}
